.scrollbar::-webkit-scrollbar{
   width:10px;
}
body{
   background-color: #ffffff;
}
.scrollbar::-webkit-scrollbar-track{
   @apply bg-slate-100
}
.scrollbar::-webkit-scrollbar-thumb{
   @apply bg-slate-200
}

#radix-\:r7\:{
   width: 300px;
   height: 300px;
   overflow-y: scroll;
}